@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/firasans-700.woff2) format("woff2");
    font-display: swap;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #293449;
}

.width_limiting_container {
    width: 1169px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

/* header */
.main_header {
    margin-bottom: 50px;
}

.header_address {
    height: 44px;
    background-color: #F3F7F9;
    display: flex;
    align-items: center;
}

.header_address_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_address_desc {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    margin: 0;
    color: #EE3643;
}

.header_address_contacts_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.header_address_contact_item {
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
}

.header_address_contact_link {
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    color: #293449;
    display: flex;
    gap: 8px;
}

.header_address_contact_link::before {
    content: url("../images/icons/phone.svg");
    width: 16px;
    height: 16px;
}

.header_logo_container {
    background-color: #293449;
}

.header_logo_link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.header_logo {
    display: block;
    /* margin-right: 21px; */
}

.header_logo_container .width_limiting_container {
    display: flex;
    align-items: center;
    position: relative;
}

.header_search_form {
    margin-right: auto;
    margin-left: 241px;
}

.search_form_input {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: none;
    color: #FFFFFF;
}

.search_form_input::placeholder {
    color: #FFFFFF;
}

.search_form_label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_form_label::before {
    content: url("../images/icons/search.svg");
    width: 20px;
    height: 20px;
}


.header_login_button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    background: none;
    color: #F1F5F7;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 13px  13px 13px;
}

.header_login_button::before {
    content: url("../images/icons/login.svg");
    width: 16px;
    height: 16px;
}

/* popover_login_section */

.popover_login_section {
    display: none;
    width: 360px;
    height: 330px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px 0px #00000026;
    border-radius: 2px;
    padding: 22px 30px;
    position: relative;
}

.popover_login_title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 43px;
}

.popover_login_close_button {
    position: absolute;
    border: none;
    top: 0;
    right: 0;
}

.popover_login_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.popover_login_input {
    width: 100%;
    height: 40px;
    border: 1px solid #C5C5C5;
    border-radius: 2px;
    padding: 10px 14px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    grid-column: 1/-1;
}

.popover_login_input::placeholder {
    color: #000000;
}

.popover_login_input:nth-child(1) {
    margin-bottom: 7px;
}

.popover_login_label {
    color: #000000;
    margin-bottom: 38px;
    grid-column: 1/2;
}

.popover_login_checkbox_input {
    margin: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid #3D546F;
    border-radius: 2px; */
    /* background: url("../images/icons/checked.svg") no-repeat center; */
}

.popover_login_password_link {
    text-decoration: none;
    color: #000000;
    margin-bottom: 38px;
    grid-column: 2/3;
}

.popover_login_submit_button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    background-color: #63A63E;
    color: #FFFFFF;
    min-width: 145px;
    height: 40px;
    padding: 11px 11px 11px 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    grid-column: 1/2;
}

.popover_login_submit_button::before {
    content: url("../images/icons/login.svg");
    width: 15px;
    height: 15px;
}

.popover_login_register_link {
    border: 2px solid #63A63E;
    border-radius: 2px;
    padding: 11px 9px;
    display: inline-block;
    min-width: 145px;
    height: 40px;
    text-decoration: none;
    color: #32425C;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    grid-column: 2/3;
}

/* header_navigation */

.header_navigation {
    background-color: #3D546F;
}

.header_navigation .width_limiting_container {
    display: flex;
    align-items: center;
}

.navigation_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* gap: 45px; */
    margin-right: auto;
}

.navigation_link {
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    padding: 23px 22px;
}

.navigation_link:hover {
    background-color: #32425C;
    color: #C5C5C5;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.navigation_link:active {
    font-weight: 700;
    background-color: #32425C;
    color: #FFFFFF;
}

.user_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.user_item {
    display: flex;
}

.user_button {
    border: none;
    background: none;
    padding: 0;
    min-width: 18px;
    min-height: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.user_button_bookmark {
    background: url("../images/icons/bookmark.svg") no-repeat center;
    margin-right: 23px;
}

.user_button_cart {
    background: url("../images/icons/cart.svg") no-repeat center;
    margin-right: 26px;
}

.user_button_checkout {
    padding: 12px 10px;
    color: #FFFFFF;
    background-color: #63A63E;
    border-radius: 4px;
}

/* main */

/* slider_section */

.slider_section {
    color: #FFFFFF;
    position: relative;
    margin-bottom: 50px;
}

.catalog_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.catalog_item {
    width: 370px;
    min-height: 180px;
    padding: 20px 37px 20px 25px;
    background-color: #FFBF47;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.catalog_slider_item {
    grid-column: 1/3;
    grid-row: 2/4;
}

.catalog_item.tool {
    background-color: #3BBCE3;
}

.catalog_item.equipment {
    background-color: #DC91D8;
}

.catalog_item.sale {
    background-color: #8ED78F;
}

.catalog_title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
}

.catalog_link {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 180px;
    padding: 5px 10px 5px 0;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
    transition: opacity 0.1s, color 0.5s, background-color 0.5s;
}

.catalog_link:hover {
    color: #3D546F;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.catalog_link:active {
    opacity: 0.5;
}

.catalog_link::before {
    content: "";
    background: url(../images/icons/arrow_right.svg) no-repeat center;
    width: 16px;
    height: 16px;
    margin: 6px;
}

.catalog_image {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: center;
    justify-self: flex-end;
}

.slider_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide_item {
    width: 770px;
    height: 390px;
    background-color: #3D546F;
    padding: 50px 50px 40px 50px;
    display: flex;
    flex-direction: column;

}

.slide_item:nth-child(1) {
    background: url("../images/index/slider/slide_1.jpg") no-repeat center;
}

.slide_item:nth-child(2) {
    display: none;
    background: url("../images/index/slider/slide_2.jpg") no-repeat center;
}

.slide_title {
    margin: 0;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}

.slide_text {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.slide_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    background-color: #EE3643;
    color: #FFFFFF;
    padding: 13px 25px;
    border-radius: 4px;
    margin-top: auto;
    align-self: flex-start;
}

.slide_link:hover {
    background-color: #CA2C37;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.slide_link:active {
    background-color: #BA2732;
}

.slider_pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 15px;
    left: 365px;
}


.slider_pagination_button {
    padding: 0;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #FFD180;
}

.slider_pagination_button_current {
    background-color: #FFFFFF;
}

.slider_control {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 160px;
    transform: translateY("-50%");
    width: 730px;
    margin-left: 20px;
}

.slider_control_button {
    border: none;
    background: rgba(41, 52, 73, 0.6) url("../images/icons/arrow_right.svg") no-repeat center;
    background-size: 20px 20px;
    border-radius: 50%;
    /* opacity: 60%; */
    width: 50px;
    height: 50px;
}

.slider_button_left {
    transform: rotate(180deg);
}

/* products_secton */

.products_secton {
    padding-bottom: 52px;
    display: grid;
    column-gap: 74px;
    grid-template-columns: 260px 280px auto;
    grid-template-rows: auto auto auto;
}

.products_title {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 26px;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.products_filter {
    display: flex;
    flex-direction: column;
    width: 220px;
    grid-column: 1/2;
    grid-row: 2/-1;
}

.range_scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #3D546F;
    border-radius: 2px;
}

.range_bar {
    position: absolute;
    height: 4px;
    background-color: #5FBB2D;
}

.range_toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 2px solid #3D546F;
    border-radius: 50%;
    cursor: pointer;
}

.range_toggle:hover {
    background-color: #518534;
}

.range_toggle:active {
    background-color: #5FBB2D;
}

.toggle_min {
    top: -8px;
    left: -10px;
}

.toggle_max {
    top: -8px;
    right: -10px;
}

.range_wrapper_inputs {
    display: flex;
    justify-content: center;
}

.catalog_filter_label {
    display: flex;
    margin-right: 5px;
}

.range_input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.select_control {
    margin-bottom: 31px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.products_catalog_wrapper {
    flex-basis: 876px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/-1;
    grid-row: 3/-1;
}

.products_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 33px;
    row-gap: 29px;
    margin-bottom: 32px;
}

.product_card {
    width: 270px;
    height: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product_card_new_image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.product_card:nth-child(2) .product_card_new_image,
.product_card:nth-child(8) .product_card_new_image {
    display: none;
}

.product_title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 11px;
}

.product_card_buttons_container {
    position: relative;
    margin-bottom: 14px;
}

.product_image {
    order: -1;
    display: block;
    min-width: 216px;
    min-height: 180px;
    opacity: 1;
    transition: opacity 1s linear;
}

.product_card_buttons_wrapper {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0s, opacity 1s linear;
}

.product_card_buttons_container:hover .product_card_buttons_wrapper {
    visibility: visible;
    opacity: 1;
}

.product_card_buttons_container:hover .product_image {
    opacity: 0.1;
}

.product_card_button {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 135px;
    height: 40px;
    background: none;
    color: #32425C;
    padding: 11px;
    cursor: pointer;
}

.product_card_buy_button {
    border: none;
    background-color: #63A63E;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 11px;
}

.product_card_buy_button:hover {
    background-color: #5FBB2D;
}

.product_card_buy_button:active {
    background-color: #518534;
}

.product_card_bookmark_button {
    border: 2px solid #63A63E;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.product_card_bookmark_button:hover {
    border-color: #3D546F;
}

.product_card_bookmark_button:active {
    border-color: #C5C5C5;
    color: #C5C5C5;
}

.product_card_buy_button::before {
    content: url(../images/icons/white_cart_14.svg);
    width: 14px;
    height: 14px;
}

.product_old_price {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #A9A9A9;
    text-decoration: line-through;
    margin-bottom: 11px;
}

.product_new_price_container {
    width: 138px;
    height: 40px;
    position: relative;
}

.product_new_price {
    /* margin: 0; */
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.product_new_price_container:hover path {
    fill: #CA2C37;
}

.product_new_price_container:active path {
    fill: #BA2732;
}

.products_pagination_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.products_pagination_link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #3D546F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    padding: 5px;
    border-radius: 2px;
    font-weight: 700;
    line-height: 16px;
}

.products_pagination_link:hover {
    opacity: 0.7;
}

.products_pagination_link_current {
    background-color: #FFFFFF;
    color: #3D546F;
}

.products_pagination_link_current:hover {
    background-color: #3D546F;
    color: #FFFFFF;
}

.products_pagination_button {
    border: none;
    background-color: #EE3643;
    color: #FFFFFF;
    width: 195px;
    height: 45px;
    border-radius: 2px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 8px;
}

.products_pagination_button:hover {
    background-color: #CA2C37;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.products_pagination_button:active {
    background-color: #BA2732;
}

/* services section */

.services_section {
    padding: 52px 0;
    background-color: #F4F7F9;
}

.services_title {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.services_text {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 64px;
}

.services_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.services_item {
    padding: 24px 31px;
    width: 370px;
    min-height: 382px;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.services_item::before {
    content: "";
    background: url("../images/icons/services/delivery_red.svg") no-repeat;
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 46px;
}

.services_item:nth-child(2)::before {
    content: "";
    background: url("../images/icons/services/sale_red.svg") no-repeat;
}

.services_item:nth-child(3)::before {
    content: "";
    background: url("../images/icons/services/paints_red.svg") no-repeat;
}

.services_subtitle {
    margin: 0;
    /* margin-top: 160px; */
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
}

.services_desc {
    margin: 0;
    color: #000000;
}

/* about section */

.sections_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_section {
    padding: 52px 0;
    width: 500px;
}

.about_title {
    margin: 0;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 23px;
}

.about_text {
    margin: 0;
    margin-bottom: 52px;
}

.about_link {
    text-decoration: none;
    background-color: #EE3643;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 13px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
}

.about_link:hover {
    background-color: #CA2C37;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.about_link:active {
    background-color: #BA2732;
}

/* contacts_section */

.contacts_section {
    padding: 52px 0;
    width: 500px;
}

.contacts_title {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 23px;
}

.contacts_text {
    margin: 0;
    margin-bottom: 31px;
}

/* footer */

.footer_background_container {
    background-color: #32425C;
}

.footer_logo_link {
    display: block;
    margin-bottom: 21px;
    width: 220px;
}

.footer_logo {
    display: block;
}

.footer_address {
    font-style: normal;
    color: #F3F7F9;
    margin-bottom: 21px;
}

.footer_address_link {
    color: #F3F7F9;
    text-decoration: none;
}

.feedback_text {
    color: #FFFFFF;
    margin: 15px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feedback_link {
    color: #FFD180;
    text-decoration: none;
}

.feedback_link:hover {
    color: #FFBF47;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.socials_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    margin-bottom: 33px;
}

.social_link {
    text-decoration: none;
    border-radius: 50%;
    display: block;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social_link_pin {
    background: url("../images/icons/socials/pinterest.svg") no-repeat center;
}

.social_link_vk {
    background: url("../images/icons/socials/vk.svg") no-repeat center;
}

.social_link_vsco {
    background: url("../images/icons/socials/vsco.svg") no-repeat center;
}

.social_link:hover {
    background-color: rgba(41, 52, 73, 1);
    box-shadow: 0px 8px 20px 0px #00000026;
}

.social_link:active {
    opacity: 0.3;
}

.footer_form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.footer_form_label {
    color: #FFFFFF;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: flex-end;
}

.footer_form_input {
    width: 260px;
    height: 40px;
    padding: 10px 16px 12px;
    color: #BDBDBD;
    border: 1px solid #63A63E;
    border-radius: 2px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer_form_input::placeholder {
    color: #BDBDBD;
}

.footer_form_button {
    border: none;
    width: 40px;
    height: 40px;
    background: #63A63E url("../images/icons/white_cart.svg") no-repeat center;
    color: #FFFFFF;
    border-radius: 2px;
    margin-left: -1px;
    align-self: flex-end;
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer_form_button:hover {
    background-color: #5FBB2D;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.footer_form_button:active {
    background-color: #518534;
}

.footer_background_container:last-child {
    font-size: 14px;
    line-height: 18px;
    background-color: #293449;
    color: #FFFFFF;
    padding: 21px;
}

.footer_copyright,
.footer_authorship {
    margin: 0;
}

.footer_copyright {
    margin-right: auto;
}

.authorship_link {
    text-decoration: none;
    color: #FFD180;
}

.authorship_link:hover {
    color: #FFBF47;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.footer_background_container:first-child .width_limiting_container {
    display: flex;
    justify-content: space-between;
}

.footer_background_container:last-child .width_limiting_container {
    display: flex;
}