@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/firasans-700.woff2) format("woff2");
    font-display: swap;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #293449;
}

.width_limiting_container {
    width: 1169px;
    margin: 0 auto;
}

/* header */
.main_header {
    margin-bottom: 50px;
}

.header_address {
    height: 44px;
    background-color: #F3F7F9;
    display: flex;
    align-items: center;
}

.header_address_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_address_desc {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    margin: 0;
    color: #EE3643;
}

.header_address_contacts_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.header_address_contact_item {
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
}

.header_address_contact_link {
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    color: #293449;
    display: flex;
    gap: 8px;
}

.header_address_contact_link::before {
    content: url("../images/icons/phone.svg");
    width: 16px;
    height: 16px;
}

.header_logo_container {
    background-color: #293449;
}

.logo {
    display: block;
    margin-right: 21px;
    margin-bottom: -4px;
}

.header_logo_container .width_limiting_container {
    display: flex;
    align-items: center;
}

.header_search_form {
    margin-right: auto;
}

.search_form_input {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: none;
    color: #FFFFFF;
}

.search_form_input::placeholder {
    color: #FFFFFF;
}

.search_form_label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_form_label::before {
    content: url("../images/icons/search.svg");
    width: 20px;
    height: 20px;
}


.header_login_button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    background: none;
    color: #F1F5F7;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header_login_button::before {
    content: url("../images/icons/login.svg");
    width: 16px;
    height: 16px;
}

.header_navigation {
    background-color: #3D546F;
}

.header_navigation .width_limiting_container {
    display: flex;
    align-items: center;
    padding: 10px 0 18px;
}

.navigation_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 45px;
    margin-right: auto;
}

.navigation_link {
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
    /* padding: 19px 10px 27px; */
}

.user_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.user_item {
    display: flex;
    /* align-items: center; */
}

.user_button {
    border: none;
    background: none;
    padding: 0;
    min-width: 18px;
    min-height: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.user_button_bookmark {
    background: url("../images/icons/bookmark.svg") no-repeat center;
    margin-right: 23px;
}

.user_button_cart {
    background: url("../images/icons/cart.svg") no-repeat center;
    margin-right: 26px;
}

.user_button_checkout {
    padding: 12px 10px;
    color: #FFFFFF;
    background-color: #63A63E;
    border-radius: 4px;
}

/* main */

/* slider_section */

.slider_section {
    color: #FFFFFF;
    position: relative;
    margin-bottom: 50px;
}

.catalog_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.catalog_item {
    width: 370px;
    min-height: 180px;
    padding: 20px 37px 20px 25px;
    background-color: #FFBF47;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.catalog_slider_item {
    grid-column: 1/3;
    grid-row: 2/4;
}

.catalog_item.tool {
    background-color: #3BBCE3;
}

.catalog_item.equipment {
    background-color: #DC91D8;
}

.catalog_item.sale {
    background-color: #8ED78F;
}

.catalog_title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
}

.catalog_link {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 180px;
    padding: 5px 10px 5px 0;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
}

.catalog_link::before {
    content: "";
    background: url(../images/icons/arrow_right.svg) no-repeat center;
    width: 16px;
    height: 16px;
    margin: 6px;
}

.catalog_image {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: center;
    justify-self: flex-end;
}

.slider_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide_item {
    width: 770px;
    height: 390px;
    background-color: #3D546F;
    padding: 50px 50px 40px 50px;
    display: flex;
    flex-direction: column;

}

.slide_item:nth-child(1) {
    background: url("../images/index/slider/slide_1.jpg") no-repeat center;
}

.slide_item:nth-child(2) {
    display: none;
    background: url("../images/index/slider/slide_2.jpg") no-repeat center;
}

.slide_title {
    margin: 0;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
}

.slide_text {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.slide_link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    background-color: #EE3643;
    color: #FFFFFF;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid red;
    margin-top: auto;
    align-self: flex-start;
}

.slider_pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 65px;
    left: 365px;
}


.slider_pagination_button {
    padding: 0;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #FFD180;
}

.slider_pagination_button_current {
    background-color: #FFFFFF;
}

.slider_control {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 160px;
    transform: translateY("-50%");
}

.slider_control_button {
    border: none;
    background: rgba(41, 52, 73, 0.6) url("../images/icons/arrow_right.svg") no-repeat center;
    background-size: 20px 20px;
    border-radius: 50%;
    /* opacity: 60%; */
    width: 50px;
    height: 50px;
}

.slider_button_left {
    transform: rotate(180deg);
}

/* services section */

.services_section {
    padding: 52px 0;
    background-color: #F4F7F9;
}

.services_title {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.services_text {
    margin: 0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 64px;
}

.services_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.services_item {
    padding: 24px 31px;
    width: 370px;
    min-height: 382px;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 8px 20px 0px #00000026;
}

.services_item::before {
    content: "";
    background: url("../images/icons/services/delivery_red.svg") no-repeat;
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 46px;
}

.services_item:nth-child(2)::before {
    content: "";
    background: url("../images/icons/services/sale_red.svg") no-repeat;
}

.services_item:nth-child(3)::before {
    content: "";
    background: url("../images/icons/services/paints_red.svg") no-repeat;
}

.services_subtitle {
    margin: 0;
    /* margin-top: 160px; */
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
}

.services_desc {
    margin: 0;
    color: #000000;
}

/* footer */

.footer_background_container {
    background-color: #32425C;
}

.footer_address {
    font-style: normal;
    color: #F3F7F9;
}

.feedback_text {
    color: #FFFFFF;
}

.feedback_link {
    color: #FFD180;
    text-decoration: none;
}

.socials_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
}

.social_link {
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
}

.social_item:nth-child(1) .social_link {
    background: url("../images/icons/socials/pinterest.svg") no-repeat center;
}

.social_item:nth-child(2) .social_link {
    background: url("../images/icons/socials/vk.svg") no-repeat center;
}

.social_item:nth-child(3) .social_link {
    background: url("../images/icons/socials/vsco.svg") no-repeat center;
}

.footer_form {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 500px; */
}

.footer_form_label {
    color: #FFFFFF;
}

.footer_form_input {
    width: 260px;
    height: 40px;
    padding: 10px 16px 12px;
    color: #BDBDBD;
    border: 1px solid #63A63E;
    border-radius: 2px;
}

.footer_form_input::placeholder {
    color: #BDBDBD;
}

.footer_form_button {
    border: none;
    width: 40px;
    height: 40px;
    background: #63A63E url("../images/icons/white_cart.svg") no-repeat center;
    color: #FFFFFF;
    border-radius: 2px;
    margin-left: -1px;
}

.footer_background_container:last-child {
    font-size: 14px;
    line-height: 18px;
    background-color: #293449;
    color: #FFFFFF;
    padding: 21px;
}

.footer_copyright,
.footer_authorship {
    margin: 0;
}

.footer_copyright {
    margin-right: auto;
}

.authorship_link {
    text-decoration: none;
    color: #FFD180;
}

.footer_background_container:last-child .width_limiting_container {
    display: flex;
}